
          <div id="tips" class="info_box">
            <h3>50 dicas</h3>
            <%= image_tag "50dicas.jpg" %>
            <p>Para emagrecer com eficiência primeiramente é preciso atentar para o fato de que qualquer produto para perder peso só funcionará adequadamente para pessoas que possuem um hábito saudável de vida ...</p>
            <span><%= link_to "ver mais", "#" %></span> 
          </div>

          <div id="meetings" class="info_box">
            <h3>Reuniões de negócios</h3>
            <%= image_tag "business.jpg" %>
            <p>Saiba como a Nisher pode te ajudar a fazer lucros de R$ 5.000,00 ou mais mensalmente.
              Você ganha!
              Seus indicados ganham! 
              E a rede toda cresce em equipe...</p>
            <span><%= link_to "ver mais", "#" %></span> 
          </div>
