      <div id="sidebar">


        <%= render :partial => "layouts/parts/login" %>

        <div class="box">
          <div class="title">
            Menu
          </div>
          <%= render :partial => "layouts/parts/menu_office" %>
        </div>


      </div>


