<h2>Reative sua Conta Urgente</h2>

<p>Você tem até o dia <%= (@user.expire_date+30.days).to_s_br %> para reativar e evitar o cancelamento.</p>

<p>O Cancelamento causa perda da rede e bloqueio integral da sua conta negócios, sem a opção de recuperação dos dados cancelados.</p>

<p>Evite o cancelamento de sua conta, reative hoje mesmo para se manter recebendo comissões de sua rede e manter seu site de divulgação recebendo visitas e novos cadastros.</p>

<p>Para manter sua conta negócios ativa, você só precisa fazer um pedido de produto com valor igual ou acima de R$86,00.</p>

<p>Ficamos a disposição, para dúvidas entre em contato.</p>
