<h2>Estamos aguardando seu Pedido adicional</h2>
<p>Para manter sua conta negócios ativa, você precisa fazer um pedido de produto com valor igual ou acima de R$86,00 dentro do mês corrente.</p>
<p>Para cada pedido adicional feito você recebe + 30 dias de crédito para manter sua conta ativa.</p>
<p>Evite a inativação de sua conta para se manter recebendo comissões de sua rede e manter seu site de divulgação recebendo visitas e novos cadastros.</p>
<p>Ficamos a disposição, para dúvidas entre em contato.</p>
