<h1>Sua senha</h1>
<table cellspacing="0">
  <tr><th>Usuário:</th><td><%= @user.get_login %></td></tr>
  <tr><th>Senha:</th><td><%= @user.password %></td></tr>
  <% if @user.account_type_id==2 %>
    <tr><th>Site:</th><td><%= link_to root_url(:subdomain=>@user.name), root_url(:subdomain=>@user.name) %></td></tr>
  <% end %>
</table>
<p>Atenciosamente,<br/>
  <%= CFG['company'] %>
</p>
