<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @blacklist_username.name %>
</p>


<%= link_to 'Edit', edit_blacklist_username_path(@blacklist_username) %> |
<%= link_to 'Back', blacklist_usernames_path %>
