<%= stylesheet_link_tag :site_products %>
<div id="iframe_product_content">
            <h2>O Detergente biológico!</h2>
            <br>
            Óleo de Linhaça<br>
            Óleo de Peixe<br>
            Lecitina de Ovo<br>
            <br>
            Alef é o único suplemento que junta 3 ingredientes importantes que oferecem um equilibrio perfeito entre as melhores fontes naturais de ômega 3; ômega 6 e ômega 9.<br>
            <br>
            O ômega 3 não é produzido em seu organismo e precisa ser ingerido diariamente, sem ele o nosso organismo não funciona adequadamente.<br>
            <br>
            Ele ajuda a baixar os níveis de Triglicerídeos e auxilia na redução do Colesterol. Além de contribuir para reduzir casos de hipertensão, é muito conhecido por auxiliar na saúde do coração.<br>
            <br>
            O ômega 6 também é um ácido graxo poli-insaturado que não é fabricado em seu organismo e portanto precisa ser ingerido todos os dias. Ele é um antioxidante natural que ajuda a acelerar o metabolismo da gordura auxiliando no controle da obesidade e podendo ser usado como auxiliar na redução do apetite.<br>
            <br>
            O ômega 9 é um ácido graxo que o seu organismo também não sintetiza. Ele é vital na construção das membranas de nossas células e faz parte da barreira protetora da pele mantendo-a hidratada e ajudando a retardar os processos de envelhecimento. Também participa da produção natural dos hormônios do corpo. <br>
            <br>
            <b>Apresentação:</b> Frascos com 60 cápsulas de 500mg cada<br>
            <b>Modo de uso:</b> Tomar 1 capsula  antes do café, almoço e jantar<br>
            <b>Produto registrado na ANVISA</b> (não indicado para pessoas alérgicas e peixe e crustáceos)

</div>
