<%= stylesheet_link_tag :site_products   %>
<div id="iframe_product_content">

  <div class="movies">
    <h2>Vídeos de apresentação</h2>
    <iframe height="202" src="http://www.youtube.com/embed/Px6MNoGc3gI?rel=0" frameborder="0" width="230" allowfullscreen=""></iframe>
    <iframe height="202" src="http://www.youtube.com/embed/LoW3O_02kuc?rel=0" frameborder="0" width="230" allowfullscreen=""></iframe>
  </div>

  <div class="more">
    <h2>Vencer a Balança sem passar fome! 7 Benefícios em um só Produto!</h2>
    <br>
    <p><b>Fill-Up é um produto revolucionário!</b></p>
    <p>Foram 8 anos de pesquisa para se chegar a essa fórmula exclusiva e inteligente que certamente irá lhe ajudar em seu Programa de Redução de Peso e Medidas!</p>
    <br>
    <p>Fill-Up é um produto aprovado pelo Ministério da Saúde e conquistou o mercado através de sua comprovação de eficiência (que você poderá assistir clicando ao lado onde se lê: "Clique aqui e veja o vídeo explicativo").</p>
    <br>
    <p>Fill-Up foi desenvolvido pelo Departamento Técnico Científico da Nisher por uma equipe de profissionais da saúde que desejam oferecer-lhe o que há de melhor em suplementação nutricional natural, confira os 7 benefícios de Fill-Up:</p>
    <img alt="" width="150" height="150" src="/assets/fillup_partes/3.jpg"><br>
    <p><b>1. Reduz o espaço interno de seu estômago!</b><br>
    Ao ingerir os comprimidos de Fill-Up com água, eles expandem dentro de seu estômago, reduzindo o espaço interno e atenuando a sensação de fome!<br>
    <img alt="" width="150" height="150" src="/assets/fillup_partes/1.jpg"> <br>
    <b>2. Se combina com a Gordura!</b><br>
    Fill-Up tem afinidade lipídica e por isso começa a atrair e a se combinar com a gordura que faz parte de sua alimentação diária, essa gordura não será digerida e você reduzirá calorias!<br>
    <img alt="" width="150" height="150" src="/assets/fillup_partes/2.jpg"> <br>
    <b>3. Aumenta a atividade estomacal!</b><br>
    Fill-Up faz o seu estômago trabalhar por pelo menos 5 horas, esse processo ajuda você a perder ainda mais calorias!<br>
    <img alt="" width="150" height="150" src="/assets/fillup_partes/3.jpg"> <br>
    <b>4. Reveste o Intestino Delgado com Gel!</b><br>
    Fill-Up passa depois para o seu intestino delgado, revestindo-o com um Gel que retarda a absorção dos açúcares e carboidratos impedindo o aumento brusco dos níveis de insulina que produzem gordura em seu corpo.<br>
    <img alt="" width="150" height="150" src="/assets/fillup_partes/4.jpg"> <br>
    <b>5. Ajuda a eliminar Toxinas</b><br>
    Fill-Up faz uma varredura em seu aparelho digestório auxiliando na eliminação das toxinas que causam gases e desconforto abdominal.<br>
    <img alt="" width="150" height="150" src="/assets/fillup_partes/5.jpg"> <br>
    <b>6. Desperta o Intestino Preguiçoso!</b><br>
    Fill-Up estimula a atividade intestinal combatendo naturalmente a prisão de ventre. Fill-Up não é absorvido, ele é expelido de seu organismo pelas vias naturais combinado com as gorduras e os carboidratos.<br>
    <img alt="" width="150" height="150" src="/assets/fillup_partes/6.jpg"> <br>
    <b>7. Fill-Up contém Vitamina C!</b><br>
    A vitamina C age como antioxidante combatendo os nocivos Radicais Livres ajudando na manutenção de diversos processos de seu metabolismo. Frasco com 180 comprimidos.&nbsp;Tome 05 comprimidos com dois copos de agua,&nbsp;15 minutos&nbsp;antes do almoço. Importante tomar&nbsp;no minimo 02 litros de agua por dia.</p>
    <p><strong>Produto registrado na ANVISA</strong>( Produto não indicado para pessoas alérgicas e peixe e crustáceos).</p>
  </div>

</div>
