<%= stylesheet_link_tag :site_products %>
<div id="iframe_product_content">
            <h2>Atrasar o seu relógio Biológico! É possível retardar o envelhecimento?!</h2>
            <br>
            <p>Você sabia que o seu corpo trabalha como um relógio biológico que pode ser adiantado ou atrasado dependendo de como é o seu estilo de vida e também de como você cuida de sua nutrição?</p>
            <br>
            <p>Pesquisas ao redor do mundo têm mostrado que certos nutrientes ajudam a retardar o surgimento de sinais visíveis de envelhecimento. Por isso, o Departamento Técnico Científico da Nisher desenvolveu o Mega Stack a.m. &amp; p.m. que cuida de sua beleza de dentro para fora potencializado ainda mais os efeitos de seu creme cosmético auxiliando num aspecto mais jovial e também na manutenção da saúde.</p>
            <div class="centralize">
              <img alt="" width="481" height="247" src="/assets/megastack_partes/2.jpg"><br>
            </div>
            <p>Mega Stack vem com 60 tabletes em cada frasco (diurno e noturno) que atuam na derme auxiliando na redução dos sinais de envelhecimento e linhas de expressão. Seu uso é indicado à partir dos 24 anos de idade.</p>
            <div class="centralize">
              <img alt="" width="481" height="247" src="/assets/megastack_partes/1.jpg"><br>
            </div>
            <p><b>Veja alguns benefícios do uso contínuo:</b></p>
            <ul>
                <li>Auxilia na firmeza, maciez, densidade e elasticidade da pele.</li>
                <li>Oferece um pool de aminoácidos que são responsáveis pelo aspecto jovial da pele.</li>
                <li>Atua na reestruturação da camada interna de suporte da pele.</li>
                <li>Promove redução no surgimento de linhas finas e rugas.</li>
                <li>Também atua nas unhas e nos cabelos fortalecendo-os</li>
                <li>Oferece nutrientes que são indispensáveis à manutenção da saúde dando maior disposição.</li>
                <li>Contém Colágeno Hidrolisado que garante absorção máxima.</li>
                <li>Contém vitaminas A, C e E que são antioxidantes e neutralizam os radicais livres responsáveis pelo envelhecimento precoce.</li>
                <li>Contém Biotina e Ácido Fólico que atuam na pele e nos órgãos.</li>
                <li>Contém Zinco, Cromo e Magnésio que ajudam na imunidade e na manutenção do vigor físico.</li>
                <li>Modo de usar: Tome 02 comprimidos em jejum. Alimente-se após 20 minutos ou mais.</li>
            </ul>
</div>
