<%= stylesheet_link_tag :site_products   %>
<div id="iframe_product_content">
            <h2>Perder peso enquanto dorme. É possível perder peso durante o sono?</h2>
            <p>Muita confusão pode ser causada quando o assunto é perda de peso. O que devo fazer? O que devo comer? Qual é o melhor suplemento nutricional para me ajudar a emagrecer?</p>
            <br>
            <p>O segredo do emagrecimento está na contabilidade das calorias. Na verdade é regra bem simples. Se ingerir mais calorias do que você gasta diariamente você irá engordar e se perder mais calorias do que ingere, irá emagrecer. Simples, não é mesmo?</p>
            <br>
            <p>Portanto se quiser perder peso de verdade deve buscar meios de reduzir as calorias que ingere diariamente e procurar ser mais ativa. Sabendo disso, o Departamento Técnico Científico da Nisher desenvolveu uma linha de produtos que vai lhe ajudar a reduzir a quantidade de calorias que faz com que você engorde.</p>
            <br>
            <p>Se você deseja mesmo emagrecer, convém saber que na hora do jantar é a pior hora para se comer em demasia, especialmente carboidratos refinados ou aqueles que se convertem rapidamente em glicose e contribuem para que você engorde cada vez mais. O seu corpo segue um ritmo chamado ciclo circadiano que rege o seu metabolismo. Note que ao acordar estará meio lenta, atingirá o pico máximo de energia lá pelas 14h00 e depois das 18h00 o seu corpo começa a desacelerar lhe preparando para o sono. Ingerir muito alimento, ou aqueles que são ricos em carboidratos nessa hora, contribuem para a formação de gordura, pois seu metabolismo está mais lento e você não irá praticar nenhuma atividade física enquanto dorme.</p>
            <br>
            <p>Portanto, estudos indicam que antes de dormir a melhor opção seria ingerir uma refeição nutritiva, mas com baixo teor de carboidratos e com poucas calorias. Nutra Meal pode (a critério de seu médico ou nutricionista) substituir a sua refeição da noite, pois se constitui num delicioso Mix Nutricional, único do mercado elaborado com três fontes de proteínas nobres que quase não interferem em sua taxa de glicemia, portanto não criam mais gordura em seu corpo.</p>
            <br>
            <p>Nutra Meal vem em dois deliciosos sabores: Papaya com Cassis e Floresta Negra e pode ser diluído em água, suco, leite, e fica muito gostoso se misturado a um iogurte desnatado.</p>
            <br>
            <p>Nutra Meal evita aquela sensação de "empachamento" e dá aquela sensação de saciedade e bem estar.</p>
            <br>
            <div class="centralize">
              <img alt="" width="456" height="256" src="/assets/nutrameal_partes/1.jpg"><br>
            
            </div>
            <p>Se antes de dormir você ingerir uma refeição com alto teor de carboidratos, seu corpo irá usar parte desse alimento para produzir energia para manter o seu metabolismo funcionando durante o sono e a outra parte dele poderá ser convertida e estocada como gordura gerando quilos extras. Nutra Meal é uma rica fonte de Proteína que é a matéria prima que seu corpo usa para produzir músculos. Nutra Meal tem baixo teor de Carboidratos, assim sendo, ingerindo Nutra Meal antes de dormir, seu corpo não encontrará a matéria prima mais adequada para converter em energia ou em gordura, ao contrário se verá forçado a usar a sua própria gordura corparal como fonte de energia para manter seu metabolismo ativo por pelo menos 8 horas, e assim lhe ajudará a perder peso enquanto dorme, de maneira muito segura e natural. Não é milagre! É tecnologia!</p>
            <p>&nbsp;Modo de usar: Dilua 03 colheres rasas de sopa de Nutra Meal em um copo duplo de</p>
            <p>leite ou iogurte&nbsp;desnatado. Não use combinado com alimentos. Deliciosos sabores: Mamão Papaya com Cassis ou Floresta</p>
            <p>Negra.&nbsp;</p>
            <br align="center">
            <div class="centralize">
              <iframe height="349" src="http://www.youtube.com/embed/0FNCnsMb7WU" frameborder="0" width="425" allowfullscreen=""></iframe>
            </div>

            <p>&nbsp;</p>

</div>
