<h1 class="title">Downloads</h1>
<div id="downloads">
    <table>
    <tr>
        <th  >Arquivo</th>
        <th  >Clique para baixar</th>
      </tr>
      <tr  >
        <td  >Folheto Fill UP - Verso</td>
        <td class="right_col" ><a href="/files/folheto-fill-up-verso.rar"><img src="/assets/download.png" width="32" height="32" border="0"></a></td>
      </tr>
      <tr  >
        <td  >Folheto Fill UP - Modo de Uso</td>
        <td  class="right_col" ><a href="/files/folheto-fill-up-modo-de-uso.rar"><img src="/assets/download.png" width="32" height="32" border="0"></a></td>
      </tr>
      <tr  >
        <td  >Folheto Nutra - Modo de Uso</td>
        <td  class="right_col" ><a href="/files/folheto-nutra-modo-de-uso.rar"><img src="/assets/download.png" width="32" height="32" border="0"></a><a href="/files/nisher_120x600.rar"></a></td>
      </tr>
      <tr  >
        <td  >Folheto Mega - Sugestão de Uso</td>
        <td  class="right_col" ><a href="/files/folheto-nutra-modo-de-uso.rar"><img src="/assets/download.png" width="32" height="32" border="0"></a><a href="/files/nisher_160x600.rar"></a></td>
      </tr>
      <tr  >
        <td  >Folheto Álef - Modo de Uso</td>
        <td  class="right_col" ><a href="/files/folheto-alef-modo-de-uso.rar"><img src="/assets/download.png" width="32" height="32" border="0"></a><a href="/files/nisher_240x400.rar"></a></td>
      </tr>
      <tr  >
        <td  >Banner Bem-vindo a Nisher</td>
        <td  class="right_col" ><a href="/files/banner-bem-vindo-nisher.rar"><img src="/assets/download.png" width="32" height="32" border="0"></a><a href="/files/nisher_300x250.rar"></a></td>
      </tr>
      <tr  >
        <td  >Banner Nisher - Apresentação Negócios</td>
        <td  class="right_col" ><a href="/files/banner-nisher-apresentacao-negocios.rar"><img src="/assets/download.png" width="32" height="32" border="0"></a><a href="/files/nisher_468x60.rar"></a></td>
      </tr>
      <tr  >
        <td  >Material para Divulgação e Recrutamento - Frente e Verso</td>
        <td  class="right_col" ><a href="/files/material-para-divulgacao-recrutamento-frente-verso.rar"><img src="/assets/download.png" width="32" height="32" border="0"></a><a href="/files/nisher_468x60.rar"></a></td>
      </tr>
      <tr  >
        <td  >Banners para vidros de veículos</td>
        <td  class="right_col" ><a href="/files/banners_carros.zip"><img src="/assets/download.png" width="32" height="32" border="0"></a></td>
      </tr>
    </table>
    
  <br><br>
</div>
