
<h1 class="title">Envie minha senha</h1>
<p>Através desta solicitação você receberá os dados pelo e-mail principal contido em sua conta.</p>
<%= form_tag(send_my_password_path, :class=>"login") do %>
  <%= label_tag "Usuário ou Email1" %>
  <%= text_field_tag :email %>
  <%= submit_tag "enviar" %>
<% end %>
