<h1>Instruções para cadastro</h1>

<ul>
  <li>
    <h1>Para se cadastrar como Cliente Consumo</h1>
    <p>jjdfhgls dfgl sdflgk sdlkfg sd fglsdfj gsdj fgsdfg sdlfgj sdlfjg sdfg sdl;f jhg</p>
  </li>
  <li>
    <h1>Para se cadastrar como Cliente Consumo</h1>
    <p>jjdfhgls dfgl sdflgk sdlkfg sd fglsdfj gsdj fgsdfg sdlfgj sdlfjg sdfg sdl;f jhg</p>
  </li>
</ul>
