<h1 class="title"><%= @page.name %></h1>
<iframe id="iframe_page" src="<%= content_admin_page_path(@page) %>" width="100%" frameborder=0 scrolling="no" >
    <p>Your browser does not support iframes.</p>
  </iframe>
  <%= javascript_tag "iframe_sizing();" %>
