// Place all the styles related to the admin/jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#admin_jobs_procs{
  margin:{
    top: 20px;
    bottom: 20px;
  }
  ul{
    list-style: none;
    li{
      border-left: 1px double black;
      margin-top: 5px;
      padding: 5px;
      &:hover{
        background-color: yellow;
      }
    }
    p{
      font-size: 16px;
    }
  }
}
