<h1>Novo Contato Interessado</h1>

<table class="lista">
  <tr><th>Nome:</th><td><%= @contact["name"] %></td><tr/>
   <tr><th>Email:</th><td><%= @contact["email"] %></td><tr/>
   <tr><th>Telefone:</th><td><%= @contact["phone"] %></td><tr/>
   <tr><th>Site Visitado:</th><td><%= link_to root_url( :subdomain=>@sponsor.name ), root_url( :subdomain=>@sponsor.name ) %></td><tr/>

</table>
