<h1>Dados do pedido</h1>
<p>Você realizou um pedido em nosso site!</p>
<table>
  <tr><th>N</th><td><%= @order.id %></td></tr>
  <tr><th>Valor a pagar</th><td><%= @order.price.real_contabil %></td></tr>
  <tr><th>Status</th><td><%= order_status @order.status %></td></tr>
</table>
<p><%= link_to "Visualizar pedido", order_url(@order, subdomain: username_for_subdomain(@order.user),token:@order.token) %></p>
<p>Seguindo o link acima você poderá ver mais detalhes assim como listar os itens e acessar as formas de pagamento.</p>
<p>Agradecemos a sua preferência pela Nisher</p>
