<h1 class="title">Política AntiSpam</h1>
<div id="antispam">
  <p>Deve-se entender "política" para os fins do presente como sendo uma série de medidas para a obtenção de um fim. O fim pretendido pela empresa Nisher é o combate à prática de SPAM, como declarado no <b>"COMPROMISSO ANTI-SPAM"</b> e as medidas adotadas se dividem em:</p>
  <br>
  <p><b>a) INFORMATIVAS OU EDUCATIVAS:</b> destinadas a esclarecer não só aos clientes Nisher, mas também ao público em geral O QUE É o SPAM e as formas de minimizar acusações de prática de SPAM.</p>
  <br>
  <p><b>b) TECNOLÓGICAS:</b> consistentes do instrumental técnico colocado à disposição dos clientes Nisher para evitar o recebimento de SPAM (tais como filtros, apelido oculto; lista de e-mails bloqueados, confirmação de origem, etc.) como também para evitar ser acusado da prática de SPAM (confirmação ativa de cadastro), e;</p>
  <br>
  <p><b>c) REPRESSIVAS:</b> consistentes de disposições contratuais que autorizam a Nisher a retirar do ar, sumariamente, os sites de clientes que violem o COMPROMISSO ANTI-SPAM assumido por ocasião da contratação dos serviços Nisher.</p>
  <br>
  <h1><b>Compromisso anti-spam da Nisher e de seus clientes</b></h1>
  <br>
  <p>A Nisher, em sincronia com as melhores práticas da Internet e dos órgãos não-governamentais mais influentes da Internet, e seguindo o apelo de seus usuários, manifesta publicamente seu compromisso anti-SPAM. Por ele a Nisher se compromete a dificultar, por todos os meios a seu alcance, a prática de SPAM e a divulgar o repúdio a essa prática, bem como o propósito de impedir que seus clientes a executem.</p>
  <br>
  <p>Em contrapartida, todo aquele que se torna um cliente da Nisher aceita, integralmente e sem restrições, automaticamente, pelo simples ato da contratação de qualquer serviço prestado pela Nisher, o compromisso de NÃO PRATICAR SPAM EM QUALQUER DE SUAS MODALIDADES OU MANIFESTAÇÕES.</p>
  <br>
  <p>Sendo assim, todos os clientes da Nisher se obrigam a seguir a norma de repúdio ao SPAM, responsabilizando-se pelo cumprimento da regra de não praticar SPAM em hipótese alguma e sob nenhum pretexto.</p>
  <br>
  <p>CASO SEJA CONSTATADO O ENVIO DE SPAM POR ALGUM CLIENTE, SEU "SITE PERSONALIZADO" SERÁ BLOQUEADO NOS TERMOS PREVISTOS NO CONTRATO RESPECTIVO, SEM PREJUÍZO DAS DEMAIS MEDIDAS CABÍVEIS.</p>
  <br>
  <p>O e-mail para denúncias de SPAM que, eventualmente, tenha sido praticado por cliente da Nisher é abuso@nisher.com.br. ESTE É O COMPROMISSO ANTI SPAM DA NISHER E DE SEUS CLIENTES. CUMPRA-O E FAÇA COM QUE O MESMO SEJA CUMPRIDO EM PROL DE UMA INTERNET MELHOR.</p>
  <br>
  <h1><b>Informações básicas sobre a caracterização da prática de spam</b></h1>
  <br>
  <p><b>O que é o SPAM</b></p>
  <br>
  <p>De modo objetivo, SPAM, para efeito do presente compromisso pode ser definido como o envio de e-mails e/ou de qualquer outro tipo de mensagem eletrônica que motive reclamação de qualquer destinatário do mesmo e/ou de qualquer organismo e/ou indivíduo com funções de combate e repressão à prática de SPAM.</p>
  <br>
  <p>O SPAM não é um meio de propaganda viável. Apesar de ser muito tentador usá-lo como meio publicitário, ele está forçando toda a Internet a uma mudança nos regulamentos de uso do sistema de e-mails e aumentando suas restrições e punições contra as empresas que praticam SPAM.</p>
  <p>É importante também sempre denunciar o SPAM, que é uma prática negativa para a internet e somente por meio das denúncias poderemos combatê-la.</p>
  <br>
  <p><b>Porque SPAM é um problema</b></p>
  <br>
  <p>A Internet, atualmente, é um ambiente extremamente dinâmico, complexo e cheio de informações. O e-mail é um dos componentes da Internet, e hoje em dia é um dos principais meios de comunicação dentro dela. Entretanto, este meio de comunicação vem sendo cada vez mais degradado pelo elevado número de e-mails, não só de propagandas como também de piadas ou qualquer outro tipo de e-mail enviado indiscriminadamente, sem que tenha sido pedido pelo destinatário. Isso é o SPAM. Essa degradação se traduz em elevado uso de espaço para armazenamento das mensagens, sobrecarga dos servidores que administram e transmitem os e-mails, sobrecarga das redes de comunicação, etc.</p>
  <p>Além disso, cada vez mais os e-mails não solicitados são ignorados pelos destinatários que passam, inclusive, a repudiar as empresas que os enviam. Assim, até mesmo comercialmente o SPAM está se tornando algo altamente não recomendável.</p>
  <br>
  <p>São Paulo,&nbsp;08 de agosto de 2008.</p>
  <p><b>NISHER NETWORKS</b></p>
  <br>
  <br>

</div>
