
<h1 class="title">Instruções</h1>

<ul id="signup_options">
  <li>
    <h1>Para se cadastrar como Cliente Consumo</h1>
    <p>Adicione os produtos de seu interesse no carrinho de compras e siga as opções dadas.</p>
  </li>
  <li>
    <h1>Para se cadastrar como Cliente Negócios</h1>
    <p>Adicione um produto do tipo kit distribuidor ao carrinho de compras e siga as opções dadas.</p>
  </li>
</ul>

<%= button_to 'Ver carrinho de compras', carrinho_path %>

