<h1 class="title">Contrato</h1>
<div class="site_contrato">

<style type="text/css">
caption {
        font-size: 16px;
        text-align: center;
}
caption {
        font-size: 24px;
}
#topx {
        font-weight: bold;
}
.topx {
        color: #333;
        font-weight: bold;
}
.contx {
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
        padding: 5px;
}
.contx:first-child {

        border-left: 1px solid gray;
}
</style>
</head>

<body>
<p align="center">INSTRUMENTO PARTICULAR DE CONTRATO DE DISTRIBUIÇÃO</p>
<p> </p>
<p>Pelo presente instrumento particular, <strong>Nisher Comércio de Suplementos Nutricionais e Cosméticos Ltda</strong>., pessoa jurídica de direito privado, regularmente inscrita no CNPJ/MF sob nº 10.300.058/0001-04, com sede na   Rua Oliveira Cardoso  , nº 41, Bairro Castelo, na cidade de Campinas/SP, e, de outro lado, TITULAR (inserir qualificação completa), doravante denominado Empreendedor Distribuidor Independente, contratam o que segue:</p>
<p><strong>Cláusula Primeira . Do Objetivo</strong></p>
<p><strong>1.1 . </strong>O presente contrato tem por objetivo a distribuição de bônus aos consumidores dos produtos comercializados por Nisher Networks que, através do Sistema de Marketing Multinível, em que cada Empreendedor Distribuidor indica novos Empreendedores Distribuidores, construindo, assim, um ciclo de consumo em que é apurada movimentação mensal para créditos em contas correntes no mês seguinte.</p>
<p><strong>Parágrafo Único . </strong>O Consumidor se qualifica como Empreendedor Distribuidor Independente à medida que desenvolve o seu ciclo de consumo dentro da Nisher Networks.</p>
<p><strong>Cláusula Segunda . Do Empreendedor Distribuidor Independente</strong></p>
<p><strong>2.1 . </strong>Para se tornar um Empreendedor Distribuidor Independente, bastará à aquisição de um kit distribuidor de produtos no ato do seu cadastramento na loja virtual da Nisher.</p>
<p><strong>Parágrafo Primeiro . </strong>Cada Empreendedor Distribuidor Independente receberá, além do produto adquirido, acesso a um escritório virtual para que possa gerenciar a sua rede e os seus negócios, enquanto permanecer de forma ativa na Empresa, sem que haja qualquer interferência gerencial, negocial e/ou hierárquica da Nisher.</p>
<p><strong>Parágrafo Segundo . </strong>Cada Empreendedor Distribuidor Independente se torna ativo tão logo que seja confirmado o pagamento do kit pela respectiva instituição bancária.</p>
<p><strong>2.2 . </strong>O Empreendedor Distribuidor Independente, observado o disposto no presente instrumento, poderá conduzir seus negócios da forma que lhe for mais conveniente, inclusive exercendo quaisquer atividades paralelas, com ou sem vínculo empregatício, junto a outras empresas.</p>
<p><strong>Parágrafo Primeiro</strong> <strong>. </strong>Fica desde já acordado e estabelecido que nenhum Empreendedor Distribuidor Independente possuirá qualquer vínculo empregatício com a Nisher Networks, razão pela qual não obedecerá a nenhuma rotina de trabalho, carga horária, compromisso de trabalho interno, ou qualquer outra ordem que denote coordenação ou subordinação para a prática do desenvolvimento de seu negócio.</p>
<p><strong>Parágrafo Segundo . </strong>O Empreendedor Distribuidor Independente não é nomeado e nem se constitui representante ou agente da Nisher Networks.</p>
<p><strong>Parágrafo Terceiro . </strong>As disposições contidas na presente cláusula abrangem também eventuais funcionários, prepostos ou terceiros eventualmente contratados pelo Empreendedor Distribuidor Independente.</p>
<p><strong>2.3 . </strong>O Empreendedor Distribuidor Independente não está obrigado a comprar quaisquer produtos para fins de estoque, tampouco quantidades mínimas e máximas pré-definidas.</p>
<p><strong>2.4 . </strong>O Empreendedor Distribuidor Independente desenvolverá seu negócio de forma livre e sem qualquer tipo de interferência da Nisher, todavia, observará o quanto segue:</p>
<p><strong>a) </strong>É expressamente proibido utilizar, contratar ou assumir obrigações junto a terceiros utilizando-se do nome da Nisher Networks, de suas marcas, patentes ou logotipos, bem como reproduzir ou alterar quaisquer materiais promocionais, produtos ou embalagens, total ou parcialmente, bem como fazer uso da rede de associados para divulgação de outros tipos de negócios.</p>
<p><strong>b)</strong> O Empreendedor Distribuidor Independente fica obrigado a participar dos programas de treinamento via site, com a finalidade de não incorrer em riscos de divulgar erroneamente as funções de cada produto, sistema de marketing e visando também o melhor desenvolvimento de seus negócios, sob pena de, não o fazendo, sofrer as sanções legais à espécie.</p>
<p><strong>c) </strong>O Empreendedor Distribuidor Independente não poderá em hipótese alguma, ou sob qualquer pretexto, expor e/ou colocar a venda os produtos da Nisher Networks em estabelecimentos comerciais, feiras ou qualquer outro tipo de exposição e comercialização, que não seja o marketing de consumo via Network devidamente cadastrado no sistema.</p>
<p><strong>d) </strong>O Empreendedor Distribuidor Independente poderá divulgar o marketing de consumo e/ou os produtos da Nisher Networks em qualquer espécie de mídia, desde que não haja alterações da forma em que são apresentados, bem como sejam observadas as disposições contidas no presente instrumento.</p>
<p><strong>e) </strong>O Empreendedor Distribuidor Independente poderá divulgar o seu negócio via internet, sendo vedado o uso do método SPAM, podendo ainda divulgar através de contato pessoal ou em grupo.</p>
<p><strong>f) </strong>A utilização de qualquer outro meio de comunicação só poderá ser realizada mediante autorização expressa e por escrito da diretoria da Nisher Networks.</p>
<p><strong>g) </strong>É proibido ao Empreendedor Distribuidor Independente ceder, transferir, negociar ou de qualquer outra forma transferir os direitos e obrigações adquiridos através do presente instrumento sem anuência por escrito da Nisher Networks.</p>
<p><strong>Cláusula Terceira . Do Manual Explicativo do Marketing de Consumo . Política . Procedimentos e Plano de Bonificação.</strong></p>
<p><strong>3.1 . </strong>O Manual Explicativo do Marketing de Consumo e as Tabelas que integram o presente contrato poderão ser objeto de revisão e alteração pela Nisher Networks, mediante aviso prévio com 05 (cinco) dias de antecedência.</p>
<p><strong>3.2 . </strong>Os valores referentes a frete e despesas postais correrão sempre por conta do adquirente e estarão incluso automaticamente no valor da fatura mensal.</p>
<p><strong>3.3 . </strong>O pagamento das bonificações ocorrerá até o décimo dia útil do mês subseqüente da atividade, o que será realizado através de depósito em conta corrente ou poupança indicada pelo Empreendedor Distribuidor Independente, com base no consumo do mês, contados do primeiro ao último dia de cada mês.</p>
<p><strong>3.4 . </strong>Em conformidade com o disposto acima, o Empreendedor Distribuidor Independente é obrigado a possuir conta em instituição bancária, eis que nenhum pagamento é efetuado pela Nisher sob outra forma que não a prevista na cláusula anterior.</p>
<p><strong>3.5 . </strong>O percentual para pagamento de bonificação respeitará ao Plano de Marketing da tabela anexa.</p>
<p><strong>Parágrafo Primeiro . </strong>Os bônus extras, como por indicações e níveis de liderança, serão periodicamente revistos.</p>
<p><strong>Parágrafo Segundo . </strong>Cada Empreendedor Distribuidor Independente poderá cadastrar quantas pessoas quiser, sendo que para receber suas comissões em conta ao plano de bonificação até o quarto nível de profundidade será preciso ter sempre três pessoas ativas patrocinadas diretamente.</p>
<p><strong>Parágrafo Terceiro . </strong>A Nisher reserva-se o direito de oferecer kits de produtos com preços promocionais, os quais serão colocados no site e em suas apresentações de Power Point, mencionando formas e procedimentos de bonificações de cada caso em específico.</p>
<p><strong>Parágrafo Quarto . </strong>Os três afiliados indicados pelo Empreendedor Distribuidor Independente ficarão ligados a ele e os demais serão redirecionados automaticamente para formar sua rede abaixo, sem prejuízo dos bônus de seu patrocínio direto na sua organização.</p>
<p><strong>3.6 . </strong>Somente terão direito às bonificações aqueles Empreendedores Distribuidores Independentes que se encontrarem rigorosamente em dia com os seus pedidos mensais, não havendo em nenhuma hipótese a possibilidade de receber comissões caso os mesmos não estejam com suas compras de, no mínimo, R$ 86,00 (oitenta e seis reais) mensais, e com no mínimo 03 (três) pessoas cadastradas por sua indicação direta, com compras em cada mês.</p>
<p><strong>3.7 . </strong>Havendo bônus suficiente a favor do Empreendedor Distribuidor Independente, este autoriza a Nisher Networks a descontar de seus créditos o valor referente à aquisição de um NutraMeal com frete via PAC, o qual lhe será enviado via correios utilizando-se do endereço que estiver nos dados de cadastro, caso não haja solicitação de cancelamento do mesmo até 5 dias antes da data expiracão da atividade.</p>
<p><strong>Cláusula Quarta . Do prazo de vigência</strong></p>
<p><strong>4.1 . </strong>O prazo de vigência deste contrato permanecerá válido enquanto o Empreendedor Distribuidor Independente permanecer na situação de ativo ou enquanto a empresa mantiver a sua estrutura de Marketing Multinível.</p>
<p><strong>Cláusula Quinta . Da permanência e do cancelamento</strong></p>
<p><strong>5.1 . Observações Adicionais:</strong></p>
<p><strong>a) </strong>Decorrido o mês em curso, e caso não haja crédito para o faturamento automático do produto, ficará cancelado o pagamento do bônus relativo ao mês.</p>
<p><strong>b) </strong>Na hipótese do Empreendedor Distribuidor Independente ficar sem adquirir produtos por 60 dias, seu cadastro será automaticamente cancelado e será substituído por outro ativo o qual assumirá inclusive possíveis descendentes encontrados, sem que haja condições de retorno ou quaisquer reivindicações ou direito neste sentido à posição após a alteração realizada.</p>
<p><strong>c) </strong>Na hipótese do Empreendedor Distribuidor Independente decidir retornar a atividade, a qualquer tempo, após o cancelamento deste contrato, o mesmo será alocado na rede de seu patrocinador, sem que haja possibilidade de retornar a posição anterior, inclusive não tendo nenhum acesso, nem recebendo de volta sua linha descendente anterior.</p>
<p><strong>5.2 - </strong>O Empreendedor Distribuidor Independente ou candidato a tal, uma vez cadastrado no Sistema com uma filiação, não poderá mudar de filiação em nenhuma circunstância pelo prazo de 06 (seis) meses, sendo que somente após o decurso deste prazo é que haverá condições de um novo cadastro em outra filiação.</p>
<p><strong>a) </strong>No ato de cadastramento ao Marketing de Consumo da Nisher Networks caberá o pagamento do valor equivalente a um Kit de produtos que esteja na loja virtual, e que deverá ser feito através do depósito bancário, boleto ou pagamento via cartão de crédito ou débito.</p>
<p><strong>b) </strong>O cadastro permanecerá por 60 dias, aguardando o pagamento da assinatura, prazo este finalizado e não identificado o pagamento do valor, o cadastro será automaticamente excluído.</p>
<p><strong>c) </strong>Independentemente da data do cadastro, a apuração de bônus somente será computada se o pagamento for contabilizado dentro do mês de apuração.</p>
<p><strong>5.3 . </strong>Nas hipóteses de término do presente contrato, não caberá qualquer tipo de indenização ao Empreendedor Distribuidor Independente, com exceção do pagamento de eventuais bônus remanescentes, se houver, relativo ao último mês.</p>
<p><strong>Cláusula Sexta . Dos impostos incidentes</strong></p>
<p><strong>6.1 . </strong>Fica desde já autorizado a Nisher Networks proceder com o desconto de todos os tributos e contribuições incidentes ou que venham a incorrer sobre os pagamentos de bônus devidos ao Empreendedor Distribuidor Independente.</p>
<p><strong>Cláusula Sétima . Garantia de envio, recebimento e devolução de produtos.</strong></p>
<p><strong>7.1 . </strong>A garantia relativa aos produtos reger-se-ão sob os dispositivos legais contidos no Código de Defesa do consumidor, ficando estabelecido que:</p>
<p><strong>a) </strong>Ocorrendo mudança na escolha do produto após o recebimento do mesmo, bem como qualquer declaração de devolução por parte dos Correios, o Empreendedor Distribuidor Independente assumirá o ônus do reenvio e somente lhe será enviado novamente o produto após o recebimento pela Nisher Networks do valor da postagem acompanhado do produto a ser trocado, se for o caso.</p>
<p><strong>Cláusula Oitava . Considerações Gerais.</strong></p>
<p><strong>8. . </strong>Todas as pessoas que desejarem se tornar um Empreendedor Distribuidor Independente terão que ter sido convidadas por outro Empreendedor Distribuidor Independente com o aceite pela Nisher Networks.</p>
<p><strong>a) </strong>A Nisher Networks se reserva ao direito de recusar qualquer proposta de adesão que julgue imprópria.</p>
<p><strong>b) </strong>A confirmação da proposta de adesão caracteriza o entendimento do funcionamento do Sistema de Marketing Multinível e aceitação do regulamento de políticas e procedimentos.</p>
<p><strong>c) </strong>Os Empreendedores Distribuidores Independentes não podem outorgar-se títulos que ofereçam presunção de qualquer indicação de que tenham alguma função ou cargo oficial dentro da Nisher Networks.</p>
<p><strong>d) </strong>O Empreendedor Distribuidor Independente se compromete a não divulgar falsas promessas sobre qualquer produto da linha da Nisher Networks, ou prometer a terceiros o enriquecimento rápido sem o correspondente esforço, ressalvado ainda o direito da Nisher Networks em rescindir o presente instrumento em tal hipótese em qualquer ônus.</p>
<p><strong>Cláusula Nona . Do foro e legislação aplicável</strong></p>
<p><strong>9. </strong>Fica eleito o foro da Comarca de Campinas/SP, renunciando as partes qualquer outro, por mais privilegiado que seja, sendo aplicável ainda o Código Civil para dirimir qualquer dúvida oriunda do presente instrumento.</p>
<p>Campinas, 01 de agosto de 2011.</p>
<p> </p>
<p><strong>Nisher Comércio de Suplementos Nutricionais e Cosméticos Ltda</strong>.<br />
<strong>Empreendedor Distribuidor Independente</strong></p>
<p> </p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <caption>
    Anexo de bonificação de rede Matriz 9x4
        </caption>
  <tr class="topx">
    <td height="30" align="center" valign="middle" bgcolor="#CCCCCC">Distribuidor 1</td>
    <td height="30" align="center" valign="middle" bgcolor="#CCCCCC">Distribuidor 2</td>
    <td height="30" align="center" valign="middle" bgcolor="#CCCCCC">Distribuidor 3</td>
  </tr>
  <tr>
    <td height="150" align="center" valign="top" class="contx"><br /><br/>
      <table width="90%" border="0" cellspacing="0" cellpadding="0">
        <caption>
          Clientes
        </caption>
        <tr>
          <td>Cliente Sorteados</td>
          <td>10% sob o consumo</td>
        </tr>
        <tr>
          <td>Clientes Diretos</td>
          <td>25% sob o consumo</td>
        </tr>
      </table>
      <br />
      <table width="90%" border="0" cellspacing="0" cellpadding="0">
        <caption>
          Parceiros de Rede
        </caption>
        <tr>
          <td>Por indicação sorteada</td>
          <td>10% na primeira compra</td>
        </tr>
        <tr>
          <td>Por indicação direta</td>
          <td>30% na primeira compra</td>
        </tr>
        <tr>
          <td>A partir da segunda compra</td>
          <td><br />
            <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td>Nivel 1</td>
              <td>18%</td>
            </tr>
            <tr>
              <td>Nivel 2</td>
              <td>8%</td>
            </tr>
            <tr>
              <td>Nivel 3</td>
              <td>6%</td>
            </tr>
            <tr>
              <td>Nivel 4</td>
              <td>4%</td>
            </tr>
          </table>
          <br /></td>
        </tr>
      </table>
<br /><br /></td>
    <td align="center" valign="top" class="contx"><br />
      <table width="90%" border="0" cellspacing="0" cellpadding="0">
      <caption>
        Clientes
        </caption>
      <tr>
        <td>Cliente Sorteados</td>
        <td>10% sob o consumo</td>
      </tr>
      <tr>
        <td>Clientes Diretos</td>
        <td>25% sob o consumo</td>
      </tr>
    </table>
      <br />
      <table width="90%" border="0" cellspacing="0" cellpadding="0">
        <caption>
          Parceiros de Rede
        </caption>
        <tr>
          <td>Por indicação sorteada</td>
          <td>10% na primeira compra</td>
        </tr>
        <tr>
          <td>Por indicação direta</td>
          <td>25% na primeira compra</td>
        </tr>
        <tr>
          <td>A partir da segunda compra</td>
          <td><br />
            <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td>Nivel 1</td>
                <td>14%</td>
              </tr>
              <tr>
                <td>Nivel 2</td>
                <td>6%</td>
              </tr>
              <tr>
                <td>Nivel 3</td>
                <td>6%</td>
              </tr>
              <tr>
                <td>Nivel 4</td>
                <td>4%</td>
              </tr>
            </table>
            <br /></td>
        </tr>
    </table></td>
    <td align="center" valign="top" class="contx"><br />
      <table width="90%" border="0" cellspacing="0" cellpadding="0">
      <caption>
        Clientes
        </caption>
      <tr>
        <td>Cliente Sorteados</td>
        <td>10% sob o consumo</td>
      </tr>
      <tr>
        <td>Clientes Diretos</td>
        <td>25% sob o consumo</td>
      </tr>
    </table>
      <br />
      <table width="90%" border="0" cellspacing="0" cellpadding="0">
        <caption>
          Parceiros de Rede
        </caption>
        <tr>
          <td>Por indicação sorteada</td>
          <td>10% na primeira compra</td>
        </tr>
        <tr>
          <td>Por indicação direta</td>
          <td>20% na primeira compra</td>
        </tr>
        <tr>
          <td>A partir da segunda compra</td>
          <td><br />
            <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td>Nivel 1</td>
                <td>13%</td>
              </tr>
              <tr>
                <td>Nivel 2</td>
                <td>5%</td>
              </tr>
              <tr>
                <td>Nivel 3</td>
                <td>4%</td>
              </tr>
              <tr>
                <td>Nivel 4</td>
                <td>3%</td>
              </tr>
            </table>
            <br /></td>
        </tr>
    </table></td>
  </tr>
</table>
<p>&nbsp;</p>
<br />


<p style="text-align: justify;">&nbsp;</p>
          </div>
