<h1 class="title">Dicas</h1>
<div id="dicas">
  <p>Muito obrigada por estar lendo nossas dicas, seu interesse em emagrecer com saúde vem a coroar de êxito o esforço continuo que mantemos para oferecer o que há de melhor e mais inovador em termos de suplementação natural para controle de peso. Nossos produtos seguem os rigorosos critérios da ANVISA e do Ministério da Saúde e a nossa linha é cientificamente desenvolvida por uma equipe de profissionais da saúde.</p>
  <br>
  <p>Para emagrecer com eficiência primeiramente é preciso atentar para o fato de que qualquer produto para perder peso só funcionará adequadamente para pessoas que possuem um hábito saudável de vida, pois para emagrecer com eficiência é preciso observar com rigor três aspectos importantes que o (a) levarão ao sucesso:</p>
  <br>
  <p>As dicas abaixo não tem caráter prescritivo, mas servem como exemplos de alimentação e hábitos saudáveis. Ara fazer qualquer tipo de dieta recomendamos uma consulta a um nutricionista ou medico nutrólogo.</p>
  <br>
  <div class="centralize">
    <img width="167" height="118" src="/assets/dicas/2.jpg" alt=""><br>
    <b>1)   Atividade Física</b><br>
    <b>2)   Reeducação Alimentar</b><br>
    <b>3)   Suplementação Nutricional</b><br>
  
  </div>
  <br>
  <p>Estima-se que cada item corresponde a um percentual que lhe ajudará a atingir o seu objetivo.Convém saber, que ao que tudo indica, a nutrição e a suplementação somam 75% desse resultado, ficando a atividade física com 25%, mas nem por isso ela é a menos importante, haja vista, ser a atividade física que oferece condições ideais para que o metabolismo possa desempenhar adequadamente as suas funções.</p>
  <br>
  <p>Quanto a alimentação, os nutricionistas são unânimes em dizer que não se deve pular nenhuma refeição, não é passando fome que se emagrece. Por incrível que possa parecer, passar fome contribui para aumento de peso, pois seu metabolismo fica mais lento e cria gordura com mais facilidade nessas ocasiões, portanto, você deve ter:</p>
  <br>
  <div class="centralize">
    <img width="102" height="76" src="/assets/dicas/3.jpg" alt="">
    
  </div>
    <br>
  <p><b>CAFÉ DA MANHÃ: </b>Prefira ingerir uma porção de cereais integrais com frutas, evite o leite integral, prefira leite desnatado, evite manteiga ou margarina, evite o consumo de carboidratos refinados como pães, bolos, biscoitos, açúcar, etc.</p>
  <p>Nessa hora poderá utilizar um suplemento termogênico como o Àlef.</p>
  <br>
  <div class="centralize">
    <img width="102" height="76" src="/assets/dicas/4.jpg" alt="">
    
  </div>
    <br>
  <p><b>INTERVALO: </b>No intervalo entre o café da manhã e o almoço, você pode ingerir uma frura. Dê preferencia aquelas que tem bagaço ou casca que possam ser ingeridos sem problemas.</p>
  <br>
  <div class="centralize">
    <img width="102" height="76" src="/assets/dicas/5.jpg" alt="">
    
  </div>
    <br>
  <p><b>ALMOÇO: </b>Prefira ingerir uma carne magra grelhada com muita salada de folhas verdes, pode também usar brócolis, couve flor. Prefira arroz integral, vite massas e produtos gordurosos ( feitos creme de leite ou de coco). Nessa hora poderá usar um suplemento como o Fill-Up.</p>
  <br>
  <div class="centralize">
    <img width="102" height="76" src="/assets/dicas/6.jpg" alt="">
    
  </div>
    <br>
  <p><b>INTERVALO:</b> Nessa hora também você pode ingerir uma fruta ou gelatina diet com fruta. Lembre-se de dar preferência aquelas que tem bagaço ou casa que possam ser ingeridos sem problemas.</p>
  <br>
  <div class="centralize">
    <img width="102" height="76" src="/assets/dicas/7.jpg" alt="">
    
  </div>
    <br>
  <p><b>JANTAR:</b> Aqui você ingerir carne de aves ou peoxe grelhado, sempre com muita salada de folhas verdes. Prefira arroz integral, feijão branco e evite massas e produtos feitos à base de carboidratos refinados. Você também poderá ( a critério do profissinal de saúde), substituir a refeição  da noite pelo Mix Nutricional o Nutra Meal.</p>
  <br>
  <div class="centralize">
    <img width="102" height="76" src="/assets/dicas/8.jpg" alt="">
  </div>
    <br>

  <p><b>CEIA: </b>Nessa hora também você pode ingerir fruta ou gelatina diet com fruta. Lembre-se de dar preferência aquelas que tem bagaço ou casca que possam ser ingeridos sem problemas. Poderá usar um suplemento nutricional como o Mega Stack.</p>
  <br>
  <p><b>50 Dicas para você emagrecer com Saúde</b></p>
  <br>
  <p>1-   Evite ir ao supermercado com fome, pois você poderá cair em tentação e acabar experimentando e até comprando o que não deve. Acostume-se a fazer as compras sempre após as referições.</p>
  <br>
  <p>2-   Não deixe em casa alimentos de fácil digestão (doces, biscoitos, salgadinhos, etc.), pois quando bater aquela ansiedade ou a fome, certamente você vai escolher os mais calóricos para ingerir.</p>
  <br>
  <p>3-   Se tiver crianças em casa, não deixe biscoitos, doces e chocolates à vista. Guarde tudo em armários altos, para evitar que elas, e você também fiquem beliscando.</p>
  <br>
  <p>4-   Não pule o café da manhã. Mesmo que não sinta fome ao acordar coma, ao menos, uma fruta e tome um iogurte light ( por exemplo). Isso vai fazer com que você não chegue com muita fome na hora do almoço.</p>
  <br>
  <p>5-   Nunca coma em pé. Nada de beliscar alimentos enquanto anda pela casa entretida(o) em outras atividade. Pare tudo, sente-se e coma (com moderação) e em paz.</p>
  <br>
  <p>6-   Demore para comer( use uma colher ou garfo menores), deguste cada pedacinho, curta bastante. Isso vai lhe dar a impressão de que você ingriu mais alimentos.</p>
  <br>
  <p>7-   Troque o prato grande pelo de sobremesa. Assim, não somente as porções diminuirão, como a ingestão de alimentos também. E o pratão parecerá cheio...</p>
  <br>
  <p>8-   Pratos magros também podem ser saborosos, e ter boa aparência. Prepare uma refeição bela, com várias opções de verduras, para ter mais satisfação em sua refeição.</p>
  <br>
  <p>9-   Nunca leve as travessas para a mesa. Se elas ficarem mais longe, será mais facil controlar aquela persistente vontade de repetir. Condicione a sua mente para nunca repetir o prato.</p>
  <br>
  <p>10-  Levante da mesa imediatamente após a refeição. É um jeito de você não correr o risco de ficar beliscando enquanto conversa.</p>
  <br>
  <p>11-  Inicie o almoço e o jantar com um belo prato de folhas verdes. As fibras desses alimentos farão com que você sinta menos fome ao comer o restante.</p>
  <br>
  <p>12-  Quando você ficar muitas horas cem comer, o cérebro entende que não há comida e entra em compensação, baixando a taxa metabólica, ou seja, gasta menos calorias, e fica mais propenso a  engordar, portanto prolongue o espaço entre as refeições.</p>
  <br>
  <p>13-  DÊ intervalos de três a quatro horas (no máximo!) entre as ingestões. Isso ensina o corpo a sentir fome somente em horários determinados.</p>
  <br>
  <p>14-  Se sentir fome fora do horário, tente, em vez de comer, tomar um copo de água ou chá. Não confunda fome com sede. Tome limonada com adoçante ou refresco diet.</p>
  <p>15-  Evite friturar, passe longe de salgados e de carnes à milanesa ou empanados, pois eles são muito oleosos e contém farinha de trigo refinada.</p>
  <br>
  <p>16-  Escolha um lugar gostos para fazer as refeições. É proibido comer em frente à TV ou computador. Você nem repara que está comendo muito e vai querer sempre mais.</p>
  <br>
  <p>17-  Cuidado com doces! Alimente-se com porções de frutas.</p>
  <br>
  <p>18-  Para variar a sobremesa, bata gelatona diet com iogurte desnatado. Fica delicioso e magro.</p>
  <br>
  <p>19-  Na hora do almoço, que tal uma porção light de queijo-de-minas magro e peito de peru com salada? Isso vai auxiliá-lo(a) a se sentir saciado(a) por mais tempo.</p>
  <br>
  <p>20-  O metabolismo noturno é sempre mais lento, lembre-se de reduzir os carboidratos e gorduras nessas horas.</p>
  <br>
  <p>21-  Não confunda fome  com vontade de comer. A ansiedade pode levá-la a ter vontade de comer mesmo sem sentir fome, não cometa esse erro.</p>
  <br>
  <p>22-  Coma devagar. Dê tempo para o organismo acionar os mecanismos de saciedade. Entre uma garfada e outra, repouse os talheres na mesa.</p>
  <br>
  <p>23-  Para ajudar no processo de emagrecimento, você pode usar o Fill-Up que segura parte da gordura que vem de alimentação e nao deixa que ela seja adsorvida e também diminui a velocidade de absorção dos açúcares.</p>
  <br>
  <p>24-  Coma mais fibras. Além de benéficas para o organismo, elas saciam por mais tempo, porque absorvem líquidos e combatem o intestino preguiçoso favorecendo o fluxo intestinal.</p>
  <br>
  <p>25-  Realize trocas espertas: é muito nutritivo e menos calórico chupar duas laranjas e injerir o bagaço do que  tomar um copo do suco da fruta.</p>
  <br>
  <p>26-  Evite carboidratos refinados, tipo açúcar e produtos com farinha de trigo como pães e macarrão. Além de não ter fibras, eles aumentam o índice glicêmico, dando fome logo.</p>
  <br>
  <p>27-  Você pode usar um produto termogênico para auxiliar na aceleração do metabolismo da gordura em energia, como o Àlef, por exemplo.</p>
  <br>
  <p>28-  No happy hour, opte por aperitivos light: queijo branco em cubos com molho inglês e orégano, cenoura, salsão ou erva doce no palito, só shoyu e raspas de gengibre fresco.</p>
  <br>
  <p>29-  Para acompanhar o apreitivo, substitua a cerveja por suco de tomate temperado feito com água gaseificada e rodelas de limão ou laranja. E sal.</p>
  <p>30-  Quando recebar os amigos, ofereça este patê com torradas: bata 500g de ricota com 1 iogurte desnatado até obter a consistência de patê e junte ervas e sal a gosto (salsinha, hortelã, etc.)</p>
  <br>
  <p>31-  Não é porque você esta de dieta que vai deixar de sair para jantar ou ir a uma festa. O segredo: andtes de sair coma um prato de salada verde ou coma laranjas com bagaço. Voçê comerá menos.</p>
  <br>
  <p>32-  Na festinha com os amigos, passe batido pela bandeja das frituras.</p>
  <br>
  <p>33-  Se sentir fome de madrugada: um pote de iogurte light ou uma mação com casca. Se preferir, uma laranja com bagaço ou gelatinha diet.</p>
  <br>
  <p>34-  Para ir ao restaurante sem pôr o regime a perder, dispense o couvert. Entrada: berinjela com limão salada. Na hora do prato quente, passe longe dos carboidratos refinados.</p>
  <br>
  <p>35-  Use condimentos: limão. Alho, pimenta, estragão, raiz forte, salsão, gengibre, louro, hortelã, cominho, tomilho, alecrim, alcaparras,. Eles dão sabor com pouquíssimas calorias.</p>
  <br>
  <p>36-  Tenha sempre em casa frutas, iogurte desnatado e light, gelatina diet, queijo branco magro.</p>
  <br>
  <p>37-  Procure se alimentar com legumes e verduras cozidase carnes magras grelhadas, cozidas ou assadas. Assim você resguarda também a saúde.</p>
  <br>
  <p>38-  Evite o consumo excessivo de gordura animal como manteiga, torresmo, gema de ovos, bacon e afins aos alimentos, porque além de calóricos, eles são lotados de colesterol.</p>
  <br>
  <p>39-  Use gorduras de origem vegetal. O azeite de oliva, óleos como os de linhaça e de canola: eles têm calorias de monte, mas são saudaveis.</p>
  <br>
  <p>40-  Um princípio básico: se você come mais calorias do que gast, vai engordar, e se come menos do que gasta, vai emagrecer. Uma economia qui e ali contribui para a manutenção do peso.</p>
  <br>
  <p>41-  Procure manter um diário de alimentação. Esse registro pode ajudá-lo a emagrecer, pois forca você a se defrontar com suas escolhas. E corrigir-las.</p>
  <br>
  <p>42-  Fundamental: encare, diariamente, uma atividade física. A prática regular na sua auxilia no emagrecimento ao queimar as calorias em excesso quem, de outra forma seriam armazenadas no seu corpo.</p>
  <br>
  <p>43-  O exercício aeróbico é grande aliado na perda de peso. Por tanto, inclua- o na sua rotina. Pode ser 30 minutos de caminhada ou bicicleta, todo dia ou, no minímo quatro vezes por semana.</p>
  <br>
  <p>44-  O sucesso da dieta depende de metas sensatas. Traçar objetivos malucos, como perder 10 kg em um mês, além de não ser saúdavel pode frustar.</p>
  <br>
  <p>45-    Regra que vale para a maioria das pessoas acima do peso: emagreça devagar. Para ter êxito, não exceda a perda de 900g por semana.</p>
  <br>
  <p>46-  Não se sinta culpada(o). Um  outro jeito de diminuir as calorias é fazendo exercícios para queimar mais calorias!</p>
  <br>
  <p>47-  As escapadas da dieta não podem se constantes: porque, se forem constantesm, deixam de ser escapadas e viram rotina e você engorda de novo. Nada disso!</p>
  <br>
  <p>48-  Fique sabendo e acredite: é mais fácil manter-se a dieta quando se faz uma reeducação alimentar eficiente.</p>
  <br>
  <p>49-  Prefira métodos de emagrecimento que são mais lentos que dão tempo para sua pele se adaptar, perder muito peso muito rápido gera estrias e flacidez.</p>
  <br>
  <p>50-  Existem várias formas de não descontar a insatisfação na comida. Mexa-se. Durante os exercícios, o corpo libera endorfina, que diminui a ansiedade. Técnicas de controle e organização mental como a neurocibernética, também são excelentes para controlar a sua ansiedade e diminuir ou eliminar o estresse.</p>
  <br>
</div>
