<h1 class="title">A Empresa</h1>
<div class="data">
<p>A NISHER NETWORKS tem por objetivo principal proporcionar aos seus credenciados uma excelente qualidade de vida oferecendo suplementos nutricionais e cosméticos com conceito inovador e de altíssima qualidade ao mesmo tempo em que oferece também uma oportunidade fantástica de ganhos que visam reduzir as suas limitações financeiras despertando em você o desejo de se tornar um empresário de sucesso.<br>
<br>
Nossa empresa é 100% legalizada e lhe oferece segurança e comodidade. Você pode contar com toda a nossa estrutura informatizada e se ligar à nossa Plataforma Inteligente de Negócios* (P.I.N.*) onde descobrirá quais são os rumos que devem ser tomados para que os seus sonhos se tornem realidade.<br>
<br>
Nossa empresa tem a missão de auxiliar no Desenvolvimento do Ser Humano no sentido de alcançar maior Eficiência gerando Rendimento Máximo e Prosperidade.<br>
</p>
<p>Conheça alguns clientes que recomendam o nosso trabalho:</p>
<ul style="list-style: none outside none; padding-left: 10px;">
    <li>Objetiva Sat</li>
    <li>Microcamp</li>
    <li>Capi Penta</li>
    <li>Embracon</li>
    <li>Caixa</li>
    <li>Claro</li>
    <li>Unimed</li>
    <li>Wella</li>
    <li>Programa Empresários de Sucesso</li>
    <li>Texaco</li>
</ul>
<br>
<b>Joy . Improving the Human Performance</b><br>
"Você é aquilo que lhe ensinaram a ser e a fazer, mas deveria ser aquilo que tem capacidade para ser e fazer...".<br>
<b>César Cezar . Emotional Trainer</b> Treinamento em Neuro-Cibernética<br>
Terapia Comportamental Cognitiva<br>
Organização Mental e Controle das Emoções<br>
www.rhjoy.com.br / (19) 3242.7326<br>
<br>
<p>&nbsp;</p>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td>
            <p><b>Nisher Networks</b><br>
            Telefones: (19) 3291-3331/3324-7179/3291-3653<br>
            CNPJ 10.300.058/0001-04<br>
            Endereço: Rua Oliveira Cardoso, 41<br>
            Bairro: Castelo<br>
            Cidade: Campinas . SP<br>
            CEP: 13070-148</p>
            </td>
            <td>
            <div align="center"><iframe scrolling="no" height="350" frameborder="0" width="425" src="http://maps.google.com/maps?oe=UTF-8&amp;q=Av.+Mons.+Jer%C3%B4nimo+Baggio,+459&amp;ie=UTF8&amp;hl=pt-BR&amp;hq=Av.+Mons.+Jer%C3%B4nimo+Baggio,+459&amp;hnear=&amp;ll=-23.514494,-46.504557&amp;spn=0.006295,0.006295&amp;output=embed" marginwidth="0" marginheight="0">&lt;br /&gt;
          &lt;br /&gt;
          </iframe>           </div>
            </td>
        </tr>
    </tbody>
</table>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td width="50%">&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
</div>
