<h1 class="title">Promoções</h1>
<div id="promocoes">
  <div class="data">
    <h4>Faca uma compra inteligente para ganhar brindes. Confira as promoções abaixo:</h4>
    <br>
    <br>
    <div class="promo">
    <h2>Promoção 1</h2>
    <p>Compre 3 itens quaisquer e leve inteiramente grátis um Nutra Meal</p>
    <img width="288" height="145" alt="" src="/assets/promo1.jpg"></div>
    <br>
    <div class="promo">
    <h2>Promoção 2</h2>
    <p>Compre 3 pares de produtos quaisquer e leve inteiramente grátis +1 de cada par ou 3 Nutra Meal</p>
    <img alt="" src="/assets/promo2.jpg"></div>
    <br>
    <br>
    <h3 style="text-align: center;">Aproveite!</h3>
  </div>
</div>
