<h1 class="title">Editando produto categoria <%= @admin_product_category.id %></h1>

<%= render 'form' %>

<%= link_to 'Visualizar', [:admin,@admin_product_category] %> |
<%= link_to 'Voltar', admin_product_categories_path %>
